.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.quick-reference-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  cursor: pointer;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 20px;
}

.error {
  color: #f44336;
  font-size: 0.8em;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button-container button {
  flex: 1;
  padding: 10px;
  font-size: 14px;
}